*{
    margin: 0;
    padding: 0;
}
.content-container{
    border: 1px solid black;
    border-radius: 1%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: rgb(225, 225, 225);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#catImage{
    max-height: 600px;
    max-width: 600px;
    width:fit-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.content-container p{
    width: 60%;
}
.title-class{
    font-size: x-large;
    border-bottom: 1px solid black;
}
/* Bubble Effect */
.bubbleEffect{
    display: inline-block;
    animation: pop 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes pop{
    from{
        opacity: 1;
        transform: translateZ(0) scale(1.0,1.0);
    }
    to{
        opacity: 0;
        transform: translateZ(0) scale(1.75,1.75);
    }
}

.hr-style{
    border: 0.5px solid rgb(77, 76, 76);
}

/* Fact Container and more Styling */
.fact-style{
    padding: 10px;
    border-bottom: 1px solid rgb(101, 101, 101);
}

.fact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons {
    background-color: whitesmoke;
    border: none;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    border-radius: 10%;
    margin-top: 10px;
}
.buttons:hover{
    background-color: rgb(197, 197, 197);
}
.buttons:active{
    background-color: rgb(133, 133, 133);
}